<!doctype html>
<html lang="en">
<head>
<title>Dashboard, Admin View</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="title" content="Dashboard, Admin View">
	<meta name="description" content="Dashboard view for admins.">
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<link href="dashboard.css" rel="stylesheet">
	<!--Other-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <style>


    body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

    ul, .sidebar .nav-link, .sidebar .nav-link.active {
        color: #fff;
    }

    .lsbu-header{
  background-color: #aaa6cc;
  color: #efefef;
  padding: 5%;
}

.active,.list-group-item-action:hover{
    background-color: #aaa6cc;
}

#caseID{
    word-wrap: break-word;
}


#disabilityDiv{
  margin-left: -1%
}


</style>
</head>

<body>

							<!-- CRUD Table -->
    <table class="table table-striped table-hover" id="database-table">
      <thead>
        <th scope="col">Case No.</th>
        <th scope="col">Date Submitted</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </thead>
      <tbody>
       <%
        var list = '';
        var length = submissions.length;
        for (i = 0; i < length; i++) {

					if (submissions[i].adviceType == undefined){
						submissions[i].adviceType = "N/A";
					}
					if (submissions[i].urgentEnquiry == undefined){
						submissions[i].urgentEnquiry = "N/A";
					}
					if (submissions[i].discoverySelect == undefined){
						submissions[i].discoverySelect = "N/A";
					}
					if (submissions[i].emailInFeature == undefined){
						submissions[i].emailInFeature = "N/A";
					}
					if (submissions[i].disability == undefined){
						submissions[i].disability = "N/A";
					}
					if (submissions[i].finAbuse == undefined){
						submissions[i].finAbuse = "N/A";
					}
					if (submissions[i].verAbuse == undefined){
						submissions[i].verAbuse = "N/A";
					}
					if (submissions[i].physAbuse == undefined){
						submissions[i].physAbuse = "N/A";
					}
					if (submissions[i].childCount == undefined){
						submissions[i].childCount = "N/A";
					}
					if (submissions[i].specialNeeds == undefined){
						submissions[i].specialNeeds = "N/A";
					}
					if (submissions[i].childAbuse == undefined){
						submissions[i].childAbuse = "N/A";
					}

            list += '<tr><td>' + submissions[i]._id + '</td>';
            list += '<td>' + submissions[i].date + '</td>';
            list += '<td>' + submissions[i].name + '</td>';
            list += '<td>' + submissions[i].status + '</td>';
            list += '<td><span style=\"letter-spacing: 25px;\"><a data-bs-toggle=\"collapse\" role=\"button\" data-bs-target=\"#extraData' + i + '\"><i class=\"bi bi-eye\"></i></a><i class=\"bi bi-trash\"></i></span></td>';
            list += '</tr><tr class=\"collapse\" id=\"extraData' + i + '\">';
            list += '<td><u>Case Details</u><br /><b>What type of advice is needed:</b> ' + submissions[i].adviceType + '<br />';
            list += '<b>Details:</b> ' + submissions[i].otherDetail + '<br />';
            list +=  '<b>Is the enquiry urgent:</b> ' + submissions[i].urgentEnquiry + '<br />';
            list +=  '<b>Deadline:</b> ' + submissions[i].deadlineDate + '<br />';
            list +=  '<b>Tasks to be done before deadline:</b> ' + submissions[i].deadlineTasks + '<br />';
            list +=  '<b>How did you discover us:</b> ' + submissions[i].discoverySelect + '<br />';
            list +=  '<b>Email in future:</b> ' + submissions[i].emailInFeature+ '<br />';
            list +=  '<u>Personal Details</u><br /><b>Name:</b> ' + submissions[i].name + '<br />';
            list +=  '<b>Age:</b> ' + submissions[i].age + '<br />';
            list +=  '<b>Gender:</b> ' + submissions[i].gender + '<br />';
            list +=  '<b>Ethnicity:</b> ' + submissions[i].ethnicity + '<br />';
            list +=  '<b>Postcode Area:</b> ' + submissions[i].postcode + '<br />';
            list +=  '<b>Language:</b> ' + submissions[i].language + '<br />';
            list +=  '<b>Email:</b> ' + submissions[i].email + '<br />';
            list +=  '<b>Telephone:</b> ' + submissions[i].tel + '<br />';
            list +=  '<b>Disability:</b> ' + submissions[i].disability + '</td>';
            list += '<td><u>Details of the Other Party</u><br /><b>Name:</b>  ' + submissions[i].otherName + '<br />';
            list +=  '<b>Age:</b> ' + submissions[i].otherAge + '<br />';
            list +=  '<b>Gender:</b> ' + submissions[i].otherGender + '<br />';
            list +=  '<b>Ethnicity:</b> ' + submissions[i].otherEth + '<br />';
            list +=  '<b>Year in which Relationship Began:</b> ' + submissions[i].relYear + '<br />';
            list +=  '<b>Year in which parties were married/entered civil partnership:</b> ' + submissions[i].marrYear + '<br />';
            list +=  '<b>Year in which parties separated:</b> ' + submissions[i].sepYear + '<br />';
            list +=  '<b>Is the other party financially controlling:</b> ' + submissions[i].finAbuse + '<br />';
            list +=  '<b>Is the other party verbally abusive:</b> ' + submissions[i].verAbuse + '<br />';
            list +=  '<b>Is the other party physically abusive:</b> ' + submissions[i].physAbuse + '</td>';
            list += '<td><u>Children</u><br /><b>Number of Children:</b>  ' + submissions[i].childCount + '<br />';
            list += '<b>Special Needs:</b>  ' + submissions[i].specialNeeds + '<br />';
            list += '<b>Are any of the children at risk of suffering immediate injury:</b>  ' + submissions[i].childAbuse + '<br />';
            list += '<b>Further details:</b>  ' + submissions[i].childAbuseDetail + '</td>';
            list += '<td><form method=\"get\" action="#"><button name=\"getCaseID\" type=\"button\" class=\"btn btn-primary\" data-bs-toggle=\"collapse\" data-bs-target=\"#caseID' + i + '\">Get Case ID</button><br /><div style=\"width: 20%; word-wrap: break-word;\" class=\"collapse\" id=\"caseID' + i + '\"><br />Case ID for Students: <b>' + submissions[i]._id + '</b></div><br /><button class=\"btn btn-outline-secondary\" name=\"assign\" type=\"submit\">Assign Case</button><br /><br /><button name=\"close\" type=\"submit\" class=\"btn btn-secondary\">Close Case</button></form></td></tr>';
        }

      %>
      <%- list %>
      </tbody>
    </table>
    <!--  more details to be added -->
    <!-- CRUD Table ENDS HERE -->
  </main>
  </body>
  </html>
	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
		 </script>
